# Node modules
node_modules/
Frontend/node_modules/

# Environment variables
.env
Backend/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
Frontend/build/
dist/
